asgiref
attrs
beautifulsoup4
certifi
Django
djangorestframework
h11
idna
numpy
outcome
pandas
PySocks
python-dateutil
pytz
selenium
six
sniffio
sortedcontainers
soupsieve
sqlparse
trio
trio-websocket
typing_extensions
tzdata
urllib3
websocket-client
wsproto
